    <header>
        <div class="topbar_header">
            <p class="textSlider">Envíos gratis a partir de $599</p>
            <div class="content__header_follow_icons">
                <a href="#"><i class="head_icon_follow fab fa-facebook-square"></i></a>
                <a href="#"><i class="head_icon_follow fab fa-instagram-square"></i></a>
                <a href="#"><i class="head_icon_follow fab fa-twitter-square"></i></a>
            </div>
        </div>
<!-- ---------------- Navegación mobile ---------------- -->
        <div class="nav_mobile">
            <div class="main_nav_mobile">
                <div class="menu_icon">
                <label for="show-nav">
                    <i class="fas fa-bars"></i>
                </label>
            </div>
            <div>
                <a href="/">
                    <img class="logo_header" src="/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="cart_status">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                <p>40</p>
            </div>
        </div>
        <input type="checkbox" id="show-nav" hidden>
            <ul class="menu_items">
                <% if(locals.isLogged) {%>
                <li type="none"> <a id="loging_option" class="linkEffect" href="/usuarios/<%= locals.userLogged.id%>/profile"> <img src="/images/userImages/<%= locals.userLogged.image ? locals.userLogged.image : 'default.png' %>" width="25" style="border-radius: 100%;"> !Bienvenido! <%= locals.userLogged.first_name%></a></li>
                <li type="none"> <a id="loging_option" class="linkEffect" href="/usuarios/logout">Salir<i class="fas fa-sign-in-alt"></i></a></li></li>
                    <%} else {%>
                <li type="none"><a id="loging_option" href="/login"><i class="fas fa-sign-in-alt"></i> Registrate / Inicia sesión</a></li>
                <%}%>
                <li type="none" class="buscarNav">
                    <input type="text" placeholder="Buscar...">
                    <a class="botonBuscarNav" href="#"><i class="fas fa-search"></i></a>
                </li>
                <li type="none"><a href="/">INICIO</a></li>
                <li type="none"><a href="/productos">TIENDA</a></li>
                <li type="none"><a href="/productos/crear">CREAR</a></li>
                <li type="none"><a href="#Blog">BLOG</a></li>
                <li type="none"><a href="#Contact">CONTACTO</a></li>
            </ul>
    </div>
<!-- ---------------- Navegación normal ---------------- -->
    <div class="nav_normal">
        <nav class="menu_normal">
            <ul class="menu_items_normal">
                <li type="none"><a class="linkEffect" href="/">INICIO</a></li>
                <li type="none"><a class="linkEffect" href="/productos">TIENDA</a></li>
                <li type="none"><a class="linkEffect" href="/productos/crear">CREAR</a></li>
                <li type="none"><a class="linkEffect" href="#Blog">BLOG</a></li>
                <li type="none"><a class="linkEffect" href="#Contact">CONTACTO</a></li>
            </ul>
        </nav>

        <div>
            <a href="/">
                <img class="logo_header" src="/images/logo.png" alt="logo">
            </a>
        </div>
        <div class="login_search">
            <% if(locals.isLogged) {%>
            <a id="loging_option_normal" class="linkEffect" class="nueva" href="/usuarios/<%= locals.userLogged.id%>/profile"> <img src="/images/userImages/<%= locals.userLogged.image ? locals.userLogged.image : 'default.png' %>" width="40" style="border-radius: 100%;"> !Bienvenido! <%= locals.userLogged.first_name%></a>
            <%} else {%>
            <a id="loging_option_normal" class="linkEffect" href="/login">Registrate / Inicia sesión <i class="fas fa-sign-in-alt"></i></a>
            <%}%>
            <div class="searchBar">
                <input type="text" placeholder="Buscar...">
                <a class="botonBuscarNav" href="#"><i class="fas fa-search"></i></a>
            </div>
        </div>

        <div class="cart_status">
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            <p>40</p>
        </div>
        <% if(locals.isLogged) {%>
            <a id="loging_option_normal" class="linkEffect" href="/usuarios/logout">Salir<i class="fas fa-sign-in-alt"></i></a>
        <%}%>
    </div>
    </header>