<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productList.css">
        <title>Todos los productos</title>
</head>

<body>
    <%- include('../partials/header') %>

        <main class="mainArea">
            <h2>TODOS LOS PRODUCTOS</h2>
            <div class="productList_all">
                <% for(i=0; i < products.length; i++) {%>
                    <div class="product_individual">
                        <a href="/productos/<%= products[i].id %>" class="productLink">
                            <img src="<%= products[i].image ? products[i].image : '/images/productImages/default.jpg' %>"
                                alt="producto">
                            <p class="product_name">
                                <%= products[i].name%>
                            </p>
                        </a>
                        <p class="price">$<%= products[i].price%>
                        </p>
                        <button class="addCartButton" type="submit">Agregar al carrito</button>
                    </div>
                    <% } %>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>