<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title>Product Detail</title>
</head>
<body>
    <%- include('../partials/header') %>
    <div class = "descripcion">
        <div class="imagenes">      
            <img src="/images/productImages/<%= productSelected.image ? productSelected.image : 'default.jpg' %>" id="imagen-principal">
            <img src="/images/productImages/<%= productSelected.image ? productSelected.image : 'default.jpg' %>" id="imagen2">
        </div>
        
        <div class="detail_container">
            <h2 class="descripcion-producto_title"><%= productSelected.name %></h2>
            <h2 class="descripcion-producto_title">$<%= productSelected.price %></h2>

            <div class="input-group">
                <input type="button" value="-" class="button-minus" data-field="quantity">
                <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                <input type="button" value="+" class="button-plus" data-field="quantity">
            </div>
            <div class = "agregar">
                <input type="button" value="AGREGAR AL CARRITO" id="agregar">
                <% if(locals.isLogged) {%>
                    <button onclick="window.location.href='/productos/<%= productSelected.id %>/editar'">EDITAR PRODUCTO</button>
                    <%}%>
            </div>
              

        <h3 class="descripcion-producto_detail">Categoria:</h3>
            <p class="descripcion-producto_detail">
                <%= productSelected.category.name %>
            </p>
        <h3 class="descripcion-producto_detail">Fabricante:</h3>
            <p class="descripcion-producto_detail">
                <%= productSelected.maker.name %>
            </p>
        <h3 class="descripcion-producto_detail">Descripción:</h3>
            <p class="descripcion-producto_detail">
                <%= productSelected.description %>
            </p>
        <h3 class="descripcion-producto_detail">Ingredientes:</h3>
            <p class="descripcion-producto_detail">SCI (Sodium Cocoyl Isethionate), Harina de Avena, Proteína de Chícharo,
                Manteca de Cacao, Agua de Rosas, Aceite de Almendras, y Cacao en Polvo.
            </p>
        <h3 class="descripcion-producto_detail">Contenido:</h3>
        <p class="descripcion-producto_detail">100g
        </p>

        <h3 class="descripcion-producto_detail">Modo de uso:</h3>
             <p class="descripcion-producto_detail">
                Humedece tu cabello y aplica directamente. Masajea, y luego enjuaga.
                Tras su uso, enjuaga tu sólido y colócalo en un lugar seco, fresco, y lejos del sol.
             </p>             
        </div>

                      
    </div>
    <!-- <div class="reviews">
        <h3>CUSTOMER REVIEWS</h3>
        <p id="t-reviews">
            "Realmente hidrata el cabello y su aroma es delicioso.
            Lo recomiendo ampliamente."
        </p>
        <input type="button" value="Write a Review" id="write-r">

    </div> -->

    <!-- <div class="t-t-p-i">
        <h2>TAMBIÉN TE PUEDE INTERESAR</h2>
    </div> -->
    <!-- <section class="section_slider_pd">
        <img class="img_slider_pd" src="/images/sliderimg.jpg" alt="slider-imgage"/>
    </section> -->
    
    <div id="b-regresar">
       <input type="button" onclick="history.back();" value="⇦ REGRESAR">
    </div>

 
    <%- include('../partials/footer') %>
</body>
</html>
