<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">
    <title>Register</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
    <div class="errores">
        <ul></ul>
    </div>
    <div id="imagePreview"></div>
    <div class="signup_banner">
        <img src="/images/banner_login.jpg" alt="banner">
    </div>
        <div class="register_essential">
            <section class="errores">
                <ul></ul>
        
            </section>
            
            <form action="/usuarios" method="POST" class="campos" enctype="multipart/form-data" id="form">
                
                <div id="user_img">
                    <img id="photo" src="https://i.pinimg.com/564x/74/88/22/7488228009d153e94a00427f674d54bb.jpg">
                    <input type="file" name="user-image" id="user-image" accept="image/gif,image/jpeg,image/jpg,image/png" onchange="return fileValidation()">
                    <label for="user-image" id="choose">Elige una foto</label>
                </div>
                <% if (locals.errors && errors.first_name) { %>
                    <p class="text-danger">
                        <%= errors.first_name.msg %>
                    </p>
                    <% } %>
                <p class="c">
                    <input class="<%= locals.errors && errors.first_name ? 'is-invalid' : 'nombre' %>" value="<%= locals.oldData ? oldData.first_name : null %>"
                    type="text" name="first_name" placeholder="Nombre(s)*">
                </p>
                <% if (locals.errors && errors.last_name) { %>
                    <div class="text-danger">
                        <%= errors.last_name.msg %>
                    </div>
                    <% } %>
                <p class="c">
                    <input class="<%= locals.errors && errors.last_name ? 'is-invalid' : 'apellido' %>" value="<%= locals.oldData ? oldData.last_name : null %>"
                    type="text" name="last_name" placeholder="Apellidos*">
                </p>
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                    <% } %>
                <p class="c">
                    <input class="<%= locals.errors && errors.email ? 'is-invalid' : 'email' %>" value="<%= locals.oldData ? oldData.email : null %>"
                    type="email" name="email" placeholder="Ingrese su e-mail*">
                    </p>
                    <% if (locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg %>
                        </div>
                        <% } %>
                <p class="c">
                    <input class="<%= locals.errors && errors.password ? 'is-invalid' : 'password' %>"
                    type="password" name="password" placeholder="Contraseña*" id="psswrd">
                    
                </p>
                <div id="p-caract">
                <p>Mínimo 8 caracteres</p>
                </div>
                <div class="aceptar">
                    <input type="checkbox" >
                    <p>He leído y acepto los <a href="#Terminos">Términos y condiciones</a> y el <a href="#Aviso">Aviso de privacidad</a></p>
                </div>
                <div class="aceptar">
                    <input type="checkbox">
                    <p>Quiero recibir ofertas y promociones en mi correo electrónico</p>
                </div>
                <div id="button-registrar">
                    <button type="submit" id="b-r">REGISTRAR</button>
                </div>
                <div id="IS">
                    <p><a href="./login">¿Ya tienes cuenta? Inicia Sesión</a></p>
                </div>
            </form>
            
        </div>
        
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/register.js"> </script>
</body>
</html>