<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/crearProduct.css">
    <title>Crear producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <h2>Crear producto</h2>
        <form action="/productos/crear" method="POST">
            <div class="crear_producto">
                <div class="field">
                    <label for="name">Nombre</label>
                    <div class="control">
                        <input type="text" name="name" class="input_info"placeholder="Ej: Omeprazole" required>
                    </div>
                </div>
                <div class="field">
                    <label for="category">Categoría</label>
                    <div class="control">
                        <select name="category" id="category" class="input_info" required>
                            <% for( let i = 0; i < categories.length; i++ ) { %>
                                <option value="<%= categories[i].id %> ">
                                    <%= categories[i].name %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label for="category">Fabricante</label>
                    <div class="control">
                        <select name="maker" id="maker" class="input_info" required>
                            <% for( let i = 0; i < makers.length; i++ ) { %>
                                <option value="<%= makers[i].id %> ">
                                    <%= makers[i].name %>
                                </option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <!-- <div class="field">
                    <label for="maker">Fabricante</label>
                    <div class="control">
                        <input type="text" name="maker" class="input_info" placeholder="Ej: Rowe LLC" required>
                    </div>
                </div> -->
                <div class="field">
                    <label for="price">Precio</label>
                    <div class="control">
                        <input type="number" name="price" class="input_info" step="0.01" placeholder="Ej: 750" required>
                    </div>
                </div>
                <div class="field">
                    <label for="description">Descripción</label>
                    <div class="control">
                        <textarea name="description" id="" class="input_info" required></textarea>
                    </div>
                </div>
                <div class="field">
                    <label for="product_image">Imagen</label>
                    <div class="control">
                        <input type="text" name="product_image" id="product_image">
                    </div>
                </div>
            </div>
            <div class="buttonAction">
                <div class="control">
                    <button type="submit">Crear producto</button>
                </div>
            </div>
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
