
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/productList.css">
    <title>Todos los productos</title>
</head>
<body>
    <%- include('../partials/header') %>

    <main class="principalHome">
        <section class="section3_offers_home">
            <h2>TODOS LOS PRODUCTOS</h2>
            <div class="products_show_home">
                <% for(i=0; i<products.length; i++) {%>
                <div class="product_home">
                    <a href="/productos/<%= products[i].id %>" class="productLink">
                        <img src="/images/<%= products[i].image%> " alt="producto">
                        <p class="product-name"><%= products[i].name%> </p>
                        <p class="price">$<%= products[i].price%> </p>
                    </a>
                    <button class="addCartButton" type="submit">Agregar al carrito</button>
                </div>
                <% } %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>